#root {
  width: 100%;
}

.app_body_box {
  margin-top: 64px;
}

.filter_section {
  position: fixed;
  z-index: 100;
  width: 100%;
  top: 64;
}

.list_section {
  position: relative;
  top: 120px;
  background-color: #1A1A1F;
}

@media (max-width: 768px) {
  .list_section {
    padding-top: 64px;
  }
}